In [1]:
import numpy as np
import pandas as pd

In [4]:
prov = pd.read_excel('../data/raw/proveedores.xlsx')

In [ ]:
det = pd.read_csv('', sep= '\t', encoding = 'latin1')

In [ ]:
don = pd.read_excel('')

In [ ]:
prov.head()

,Número Proveedor,Nombre Proveedor,CUIT,Categor/a Proveedor,Tipo de Contribuyente,Observaciones,Contacto,Correo Electrónico,Teléfono,Razón Social,Importe,Fecha,Nro_Cuenta,Ciudad,Pais
0,P00001,Proveedora S.A.,30-12345678-9,SERVIC/OS,RESPONSABLE INSCR/ITO,-,Juan Pérez,juan.perez@empresa.com,1234-5678,S.A.,171488,2024-03-18,501400,Buenos Aires,Argentina
1,P00002,Pedro González,30-87654321-0,SERVIC/OS,MONOTRIBUTISTA,-,Pedro González,pedro.gonzalez@correo.zom,2345-6789,S.R.L.,288255,2024-02-08,503100,Cordoba,Argentina
2,P00003,Empresa XYZ,30-13579246-3,MATER/IALES,RESPONSABLE INSCR/ITO,-,María López,maria.lopez@empresa.com,3456-7890,S.A.,195975,2024-01-18,506100,Rosario,Argentina
3,P00004,Servicios AB,30-24681357-2,AGENTE /MPOSITIVO,RESPONSAB/LE INSCRIPTO,-,Laura Ruiz,laura.ruiz@correo.zom,AR4567-8901,S.R.L.,158607,2024-03-09,509100,Mendoza,Argentina
4,P00005,Carlos Méndez,30-12345678-9,SERVIC/OS,MONOTRIBUTISTA,-,Carlos Méndez,carlos.mendez@correo.com,5678-9012,S.A.,238101,2024-03-28,516000,Buenos Aires,Argentina

In [8]:
prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Número Proveedor       373 non-null    object
 1   Nombre Proveedor       373 non-null    object
 2   CUIT                   373 non-null    object
 3   Categor/a Proveedor    373 non-null    object
 4   Tipo de Contribuyente  373 non-null    object
 5   Observaciones          373 non-null    object
 6   Contacto               373 non-null    object
 7   Correo Electrónico     373 non-null    object
 8   Teléfono               373 non-null    object
 9   Razón Social           373 non-null    object
 10  Importe                373 non-null    int64
 11  Fecha                  373 non-null    datetime64[ns]
 12  Nro_Cuenta             373 non-null    int64
 13  Ciudad                 373 non-null    object
 14  Pais                   373 non-null    object
dtypes: datetime64[ns](1), int64(2), object(12)
memory usage: 43.8+ KB

In [7]:
prov.isna().count()

Número Proveedor         373
Nombre Proveedor         373
CUIT                     373
Categor/a Proveedor      373
Tipo de Contribuyente    373
Observaciones            373
Contacto                 373
Correo Electrónico       373
Teléfono                 373
Razón Social             373
Importe                  373
Fecha                    373
Nro_Cuenta               373
Ciudad                   373
Pais                     373
dtype: int64

In [ ]:
for column in prov.columns:
    columna = list(set(prov[column]))
    print(f'cantidad de valores unicos de {column}: {len(columna)}')
    # print(f'conjunto de valores unicos de {column}: {column}')

cantidad de valores unicos de Número Proveedor: 68
cantidad de valores unicos de Nombre Proveedor: 68
cantidad de valores unicos de CUIT: 64
cantidad de valores unicos de Categor/a Proveedor: 13
cantidad de valores unicos de Tipo de Contribuyente: 6
cantidad de valores unicos de Observaciones: 1
cantidad de valores unicos de Contacto: 69
cantidad de valores unicos de Correo Electrónico: 68
cantidad de valores unicos de Teléfono: 39
cantidad de valores unicos de Razón Social: 4
cantidad de valores unicos de Importe: 344
cantidad de valores unicos de Fecha: 287
cantidad de valores unicos de Nro_Cuenta: 8
cantidad de valores unicos de Ciudad: 42
cantidad de valores unicos de Pais: 1