In [1]:
import numpy as np
import pandas as pd

%load_ext autoreload
%autoreload 2

import resources as r

In [3]:
prov = pd.read_excel('../data/raw/proveedores.xlsx')

In [2]:
det = pd.read_csv('../data/raw/Detalles_Ing_Egres.txt', sep= '\t', encoding = 'latin1')

In [5]:
don = pd.read_excel('../data/raw/donantes.xlsx')

## Proveedores

In [ ]:
prov.head()

,Número Proveedor,Nombre Proveedor,CUIT,Categor/a Proveedor,Tipo de Contribuyente,Observaciones,Contacto,Correo Electrónico,Teléfono,Razón Social,Importe,Fecha,Nro_Cuenta,Ciudad,Pais
0,P00001,Proveedora S.A.,30-12345678-9,SERVIC/OS,RESPONSABLE INSCR/ITO,-,Juan Pérez,juan.perez@empresa.com,1234-5678,S.A.,171488,2024-03-18,501400,Buenos Aires,Argentina
1,P00002,Pedro González,30-87654321-0,SERVIC/OS,MONOTRIBUTISTA,-,Pedro González,pedro.gonzalez@correo.zom,2345-6789,S.R.L.,288255,2024-02-08,503100,Cordoba,Argentina
2,P00003,Empresa XYZ,30-13579246-3,MATER/IALES,RESPONSABLE INSCR/ITO,-,María López,maria.lopez@empresa.com,3456-7890,S.A.,195975,2024-01-18,506100,Rosario,Argentina
3,P00004,Servicios AB,30-24681357-2,AGENTE /MPOSITIVO,RESPONSAB/LE INSCRIPTO,-,Laura Ruiz,laura.ruiz@correo.zom,AR4567-8901,S.R.L.,158607,2024-03-09,509100,Mendoza,Argentina
4,P00005,Carlos Méndez,30-12345678-9,SERVIC/OS,MONOTRIBUTISTA,-,Carlos Méndez,carlos.mendez@correo.com,5678-9012,S.A.,238101,2024-03-28,516000,Buenos Aires,Argentina

 Por lo que podemos señalar en nuestra vista preliminar del dataset, contiene la informacion general de los proveedores de servicios, materiales y bienes de la organizacion, los importes de gastos realizados por dichos bienes/servicios, la fecha de pago de dicho importe y la informacion referida a la naturaleza del gasto realizado (utilizando los numeros de cuenta correspondientes)

In [ ]:
## descripcion general

In [8]:
prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Número Proveedor       373 non-null    object
 1   Nombre Proveedor       373 non-null    object
 2   CUIT                   373 non-null    object
 3   Categor/a Proveedor    373 non-null    object
 4   Tipo de Contribuyente  373 non-null    object
 5   Observaciones          373 non-null    object
 6   Contacto               373 non-null    object
 7   Correo Electrónico     373 non-null    object
 8   Teléfono               373 non-null    object
 9   Razón Social           373 non-null    object
 10  Importe                373 non-null    int64
 11  Fecha                  373 non-null    datetime64[ns]
 12  Nro_Cuenta             373 non-null    int64
 13  Ciudad                 373 non-null    object
 14  Pais                   373 non-null    object
dtypes: datetime64[ns](1), int64(2), object(12)
memory usage: 43.8+ KB

In [ ]:
## vemos valores nan

In [ ]:
prov.isna().sum()
# No cuenta con valores nan en ninguno de sus campos

Número Proveedor         0
Nombre Proveedor         0
CUIT                     0
Categoria Proveedor      0
Tipo de Contribuyente    0
Observaciones            0
Contacto                 0
Correo Electrónico       0
Teléfono                 0
Razón Social             0
Importe                  0
Fecha                    0
Nro_Cuenta               0
Ciudad                   0
Pais                     0
dtype: int64

In [ ]:
## Listamos valores unicos y su cantidad respectiva a cada uno de los campos

In [6]:
for column in prov.columns:
    columna = list(set(prov[column]))
    print(f'cantidad de valores unicos de {column}: {len(columna)}')
    
print()
print()

for column in prov.columns:
    columna = list(set(prov[column]))
    print(f'conjunto de valores unicos de {column}: {columna}')

cantidad de valores unicos de Número Proveedor: 68
cantidad de valores unicos de Nombre Proveedor: 68
cantidad de valores unicos de CUIT: 64
cantidad de valores unicos de Categor/a Proveedor: 13
cantidad de valores unicos de Tipo de Contribuyente: 6
cantidad de valores unicos de Observaciones: 1
cantidad de valores unicos de Contacto: 69
cantidad de valores unicos de Correo Electrónico: 68
cantidad de valores unicos de Teléfono: 39
cantidad de valores unicos de Razón Social: 4
cantidad de valores unicos de Importe: 344
cantidad de valores unicos de Fecha: 287
cantidad de valores unicos de Nro_Cuenta: 8
cantidad de valores unicos de Ciudad: 42
cantidad de valores unicos de Pais: 1


conjunto de valores unicos de Número Proveedor: ['P00135', 'P00118', 'P00133', 'P00148', 'P00127', 'P00141', 'P00150', 'P00010', 'P00012', 'P00116', 'P00139', 'P00142', 'P00015', 'P00113', 'P00117', 'P00114', 'P00008', 'P00107', 'P00136', 'P00106', 'P00112', 'P00111', 'P00144', 'P00004', 'P00017', 'P00126', 'P00147', 'P00120', 'P00128', 'P00121', 'P00105', 'P00125', 'P00016', 'P00124', 'P00014', 'P00145', 'P00129', 'P00123', 'P00013', 'P00149', 'P00108', 'P00115', 'P00109', 'P00132', 'P00101', 'P00005', 'P00119', 'P00137', 'P00138', 'P00143', 'P00001', 'P00146', 'P00134', 'P00110', 'P00007', 'P00104', 'P00011', 'P00103', 'P00131', 'P00009', 'P00002', 'P00130', 'P00140', 'P00018', 'P00102', 'P00003', 'P00006', 'P00122']
conjunto de valores unicos de Nombre Proveedor: ['Mariana Gómez', 'Pablo Díaz', 'Compañía Beta', 'Daniel Morales', 'Sofía Martínez', 'Manuel Fernández', 'Consultora Zeta', 'Andrés Ruiz', 'Eduardo Reyes', 'Fernando Gómez', 'Diego Fernández', 'Patricia Rivas', 'Manuel Rodríguez', 'Servicios AB', 'Jorge Herrera', 'Valeria Ortega', 'Empresa XYZ', 'Clara Jiménez', 'Marketing Global', 'Julio Fernández', 'Alejandro Rivas', 'Roberto Cruz', 'Pedro López', 'Ernesto Ruiz', 'Verónica Martínez', 'Fernando Reyes', ' Carlos Méndez', 'Juan Castillo', 'Isabel Ramírez', 'Carlos Fernández', 'Roberto Díaz', 'Carla Medina', 'Ricardo López', 'Grupo Alfa', 'Juliana Pérez', 'Luis Martínez', 'Laura Pérez', 'Marcela Jiménez', 'Javier López', 'Proveedora S.A.', 'Ana Sánchez', 'Laura Fernández', 'Gabriel López', 'Camila Martínez', 'Soluciones Gama', 'Proveedor Ltda.', 'Fernanda García', 'María González', 'Javier González', 'Pedro González', 'Silvia Ramírez', 'Pablo Vargas', 'Patricia Gómez', 'Gabriela Martínez', 'Estudio Jurídico Alfa', 'Javier Ramírez', 'Laura Castillo', 'Sofía Castro', 'Ana Rodríguez', 'Luis Gómez', 'Valentina Ortega', 'Nicolás Castillo', 'Repuestos Omega', 'Santiago López', 'Rosa Pérez', 'Daniela Fernández', 'Claudia Sánchez', 'Gabriela Torres']
conjunto de valores unicos de CUIT: ['20-01234567-4', '23-87654329-8', '33-90123456-3', '30-97531246-1', '30-45678901-2', '23-34567890-1', '33-90123456-0', '27-78901234-9', '20-87654321-2', '33-45678901-8', '30-19283746-4', '30-32165487-0', '30-12345679-8', '33-65432198-7', '30-97531247-8', '33-12345678-9', '27-78901234-6', '27-12345678-9', '23-98765432-4', '33-45678901-2', '27-23456789-1', '20-56789012-3', '20-87654322-3', '30-87654321-0', '20-12345678-9', '20-98765432-9', '23-87654323-6', '30-12345678-9', '30-65432198-7', '27-23456789-6', '33-76543219-7', '23-89012345-9', '30-98765434-2', '27-98765432-5', '20-34567890-1', '23-45678901-3', '33-56789012-6', '30-98765432-5', '30-19283747-0', '30-67890123-4', '27-76543210-6', '30-86430976-9', '27-87654321-0', '23-89012346-2', '30-24681357-2', '30-13579246-3', '30-98765432-1', '27-23456789-4', '20-56789012-5', '30-24681358-6', '30-65432109-8', '30-74859632-7', '30-76543214-8', '33-76543218-9', '30-34567890-3', '30-12345678-5', 30135792487, '33-56789012-4', '20-23456789-1', '23-87654320-5', '23-45678901-7', '23-34567890-7', '30-67890123-6', '27-23456789-3']
conjunto de valores unicos de Categor/a Proveedor: ['MATER/IALES', 'AGENTE /MPOSITIVO', 'Energía Renovable', 'Construcción', 'Energía Solar', 'Agroindustria', 'Energía Eólica', 'Consultoría', 'Transporte', 'Tecnología', 'Consultoría IT', 'Software', 'SERVIC/OS']
conjunto de valores unicos de Tipo de Contribuyente: ['Monotributista', 'MONOTRIBUTISTA', 'IVA Responsable', 'RESPONSAB/LE INSCRIPTO', 'RESPONSABLE INSCR/ITO', 'Responsable Inscripto']
conjunto de valores unicos de Observaciones: ['-']
conjunto de valores unicos de Contacto: ['Mariana Gómez', 'Pablo Díaz', 'Daniel Morales', 'Sofía Martínez', 'Manuel Fernández', 'Andrés Ruiz', 'Eduardo Reyes', 'Natalia Gómez', 'Diego Fernández', 'Carlos Méndez', 'María Hernández', 'Alberto Fernández', 'Patricia Rivas', 'Manuel Rodríguez', 'Jorge Herrera', 'Valeria Ortega', 'María López', 'Clara Jiménez', 'Alejandro Rivas', 'Julio Fernández', 'Roberto Cruz', 'Pedro López', 'Ernesto Ruiz', 'Verónica Martínez', 'Laura Martínez', 'Fernando Reyes', ' Carlos Méndez', 'Juan Castillo', 'Isabel Ramírez', 'Carlos Fernández', 'Roberto Díaz', 'Carla Medina', 'Ricardo López', 'Laura Ruiz', 'Juliana Pérez', 'Luis Martínez', 'Laura Pérez', 'Marcela Jiménez', 'Javier López', ' Sergio Castro', 'Ana Sánchez', 'Laura Fernández', 'Gabriel López', 'Camila Martínez', 'Fernanda García', 'María González', 'Javier González', 'Pedro González', 'Silvia Ramírez', ' Fernando Gómez', 'Pablo Vargas', 'Patricia Gómez', 'Gabriela Martínez', 'Javier Martínez', 'Javier Ramírez', 'Laura Castillo', 'Sofía Castro', 'Juan Pérez', 'Gabriela Gómez', 'Ana Rodríguez', 'Luis Gómez', 'Valentina Ortega', 'Nicolás Castillo', ' Laura Sánchez', 'Santiago López', 'Rosa Pérez', 'Daniela Fernández', 'Claudia Sánchez', 'Gabriela Torres']
conjunto de valores unicos de Correo Electrónico: ['maria.lopez@empresa.com', 'luis.martinez@empresa.xyz', 'daniela.fernandez@empresa.uvw', 'carlos.mendez@correo.com', 'valentina.ortega@empresa.stu', 'laura.martinez@empresa.zom', 'javier.martinez@empresa.com', 'jorge.herrera@empresa.bcd', 'isabel.ramirez@empresa.bef', 'laura.fernandez@empresa.ghi', 'ernesto.ruiz@empresa.nop', 'carla.medina@empresa.qrs', 'manuel.fernandez@empresa.tuv', 'daniel.morales@empresa.vwx', 'juliana.perez@empresa.stu', 'julio.fernandez@correo.zom', 'ana.rodriguez@empresa.abc', 'pablo.vargas@empresa.def', 'javier.gonzalez@empresa.jkl', 'juan.castillo@empresa.tuv', 'pablo.diaz@empresa.zab', 'gabriel.lopez@empresa.uvw', 'fernando.reyes@empresa.pqr', 'javier.ramirez@empresa.pqr', 'gabriela.torres@empresa.yza', 'laura.sanchez@empresa.zom', 'andres.ruiz@empresa.tuv', 'pedro.gonzalez@correo.zom', 'laura.castillo@empresa.mno', 'rosa.perez@correo.zom', 'ricardo.lopez@empresa.xyz', 'eduardo.reyes@empresa.jkl', 'javier.lopez@correo.zom', 'sergio.castro@correo.zom', 'gabriela.gomez@empresa.com', 'sofia.castro@empresa.uvw', 'manuel.rodriguez@empresa.def', 'laura.perez@empresa.mno', 'marcela.jimenez@empresa.abc', 'patricia.gomez@empresa.klm', 'veronica.martinez@empresa.stu', 'camila.martinez@empresa.ghi', 'maria.hernandez@correo.com', 'ana.sanchez@correo.com', 'santiago.lopez@empresa.jkl', 'clara.jimenez@empresa.ghi', 'alejandro.rivas@empresa.pqr', 'diego.fernandez@empresa.uvw', 'fernanda.garcia@empresa.mno', 'silvia.ramirez@empresa.efg', 'natalia.gomez@empresa.com', 'claudia.sanchez@empresa.stu', 'sofia.martinez@empresa.wxy', 'luis.gomez@empresa.xyz', 'laura.ruiz@correo.zom', 'juan.perez@empresa.com', 'gabriela.martinez@empresa.abc', 'carlos.fernandez@empresa.def', 'nicolas.castillo@empresa.pqr', 'mariana.gomez@empresa.xyz', 'valeria.ortega@empresa.qrs', 'patricia.rivas@empresa.mno', 'alberto.fernandez@empresa.zom', 'maria.gonzalez@empresa.ghi', 'roberto.diaz@empresa.def', 'pedro.lopez@empresa.jkl', 'roberto.cruz@empresa.hij', 'fernando.gomez@correo.zom']
conjunto de valores unicos de Teléfono: ['7890-1234', 'AR4567-8901', '0123-5678', '0567-8901', '0777-5678', '0123-4567', '0123-6789', '2345-6789', '0345-9998', '0123-9876', '0889-6543', '1234-5678', '0555-4321', '0912-3456', '0890-1234', '0345-6789', '0666-2345', '0123-7654', '0555-2345', '0678-3456', '0889-7654', '0678-9012', '0777-7654', 'AR6789-0123', '0999-1234', '9012-3456', '6789-0123', '3456-7890', '8901-2345', '0555-9876', '0765-3456', '0111-2345', '4567-8901', '0789-0123', '0765-4321', '0999-2345', '0999-9876', '0456-7890', '5678-9012']
conjunto de valores unicos de Razón Social: ['S.R.L.', 'Cooperativa', 'Sociedad Anónima', 'S.A.']
conjunto de valores unicos de Importe: [141315, 241670, 57351, 36878, 233493, 235544, 225311, 94240, 239664, 84017, 135225, 251963, 184382, 73794, 12373, 192599, 120929, 10352, 88185, 157821, 57471, 129158, 88206, 256144, 151708, 190624, 235688, 28845, 233659, 252093, 266431, 43202, 59591, 241869, 22735, 176341, 121055, 26855, 221445, 10509, 129304, 200989, 110878, 143655, 20782, 117043, 18742, 137527, 299321, 229698, 53588, 10587, 221537, 22903, 31099, 72059, 16770, 295302, 291211, 90516, 45468, 51622, 209335, 295351, 256449, 285123, 98759, 201168, 113111, 61912, 39393, 12770, 143848, 195051, 215535, 295412, 88564, 139765, 59893, 168444, 182791, 25100, 238101, 231968, 277032, 64042, 109099, 119340, 90675, 211512, 170553, 170554, 148032, 143944, 100941, 47698, 49747, 66132, 70237, 156276, 262781, 281214, 223875, 57988, 64138, 74389, 191131, 47776, 43682, 211622, 271022, 94895, 152240, 158384, 148154, 12989, 219837, 115392, 41665, 94918, 217800, 172745, 193225, 82635, 277194, 164567, 13020, 127726, 74480, 35574, 277243, 121607, 109321, 199434, 217867, 47892, 248599, 113452, 295728, 125746, 70453, 273206, 172873, 133962, 37706, 183119, 232274, 291670, 50006, 262998, 211801, 248673, 260964, 207725, 248690, 193408, 158607, 179093, 109470, 11195, 136125, 91071, 269252, 134090, 166866, 164820, 52184, 138216, 218095, 113663, 257036, 35853, 283665, 201749, 279575, 175139, 111656, 246839, 230465, 97345, 244816, 218194, 130133, 29783, 97376, 173152, 269410, 289894, 164974, 291963, 224379, 183419, 58494, 269442, 279688, 253069, 109710, 285851, 228513, 136358, 212134, 124078, 140463, 85168, 11442, 83142, 130253, 93391, 60625, 101610, 118002, 212213, 46325, 232698, 296190, 249088, 128265, 85257, 152846, 175383, 228649, 273713, 195892, 50488, 152895, 249165, 200021, 66906, 251228, 189803, 52591, 253296, 122240, 75137, 146818, 202116, 195975, 103821, 140691, 30101, 222631, 222635, 91564, 89516, 71101, 150974, 175561, 228821, 171488, 257510, 239084, 60909, 288255, 175620, 124428, 259600, 19987, 179746, 48679, 128552, 26156, 13869, 122441, 218705, 280161, 194151, 110198, 30337, 226947, 296580, 61059, 16006, 130696, 147083, 229019, 272036, 149161, 42668, 216757, 79543, 26298, 24251, 243396, 198341, 280267, 14028, 151245, 132812, 157396, 42714, 247527, 151274, 44782, 255727, 104176, 192247, 212736, 280320, 81679, 268049, 288537, 149277, 24358, 91956, 220987, 198463, 26434, 108357, 126804, 79707, 153447, 288617, 237422, 247663, 161646, 278387, 63352, 153467, 34695, 98184, 247694, 14222, 214933, 167832, 102297, 294815, 298913, 165797, 173998, 247726, 251833, 282553, 153534, 106432, 202693, 135113, 145362, 131033, 198619, 139242, 186346, 288754, 159738, 249854]

In [ ]:
# definimos formato y nomenclatura unica para valores en los respectivos campos del dataframe tomando en cuenta campos analogos en otros datasets

# Nomenclatura en campo Número Proveedor: 'P00135'...
# Nomenclatura en campo Nombre Proveedor: 'Mariana Gómez', 'Pablo Díaz'...
# Nomenclatura en campo CUIT: '20-01234567-4', '23-87654329-8'... 
# Nomenclatura en campo Categor/a Proveedor: 'Energía Renovable', 'Construcción'...
# Nomenclatura en campo Tipo de Contribuyente: 'Responsable Inscripto', 'Monotributista'
# Nomenclatura en campo Observaciones: '-'
# Nomenclatura en campo Contacto: 'Mariana Gómez', 'Pablo Díaz'...
# Nomenclatura en campo Correo Electrónico: 'maria.lopez@empresa.com'...
# Nomenclatura en campo Teléfono: '0123-5678', '0567-8901'...
# Nomenclatura en campo Razón Social: 'S.R.L.', 'Cooperativa', 'S.A.'
# Nomenclatura en campo Importe: 141315, 241670,...
# Nomenclatura en campo Fecha: '2019-01-25'...
# Nomenclatura en campo Nro_Cuenta: 516000, 509100,...
# Nomenclatura en campo Ciudad: 'Villa María', 'Merlo'...
# Nomenclatura en campo Pais: 'Argentina'

In [ ]:
# La columna 'Observaciones' no contiene informacion relevante, por lo q sera eliminada
# en campo 'Nombre' se debe formatear los espacios antes y despues de los nombres, y obviar de la validacion (es decir, que son validos) los puntos de las abreviaturas y/o siglas
# En 'CUIT' se debe agregar el separador '-' en el numero entre el segundo y tercer digito y entre el ultimo y penultimo digito de los valores que no contengan ambos
# En 'categoria' y 'Tipo de Contribuyente' se debe reemplazar el caracter '/' por la letra que correcponda en la cadena o, en los casos que no se deba reemplazar, se debe eliminar. Tambien se deben formatear los espacios en blanco antes y despues de la cadena de texto.
# En 'Tipo de Contribuyente se debe tambien unificar una sola nomenclatura para los mismos valores (por ejemplo, entre los valores 'IVA Responsable' y 'Responsable Inscripto')
# En 'Contacto' se debe formatear los espacios en blanco antes y despues de la cadena de texto.
# En 'Telefono' se debe formatear los telefonos que cuenten con el prefijo 'AR' en su numero, y formatear espacios en blanco antes y despues de la cadena de texto
# En 'Razon Social' se debe unificar la nomenclatura de los valores que requieran (por ejemplo, S.A. y Sociedad Anonima)
# En la columna 'Ciudad' se debe formatear los espacios en blanco antes y despues de la cadena de texto.

In [5]:
# vamos a cambiar la etiqueta de columna de Categor/a Proveedor
prov = prov.rename(columns= {'Categor/a Proveedor': 'Categoria Proveedor'})

In [6]:
r.validar_nro(prov, 'Número Proveedor')

Todos los datos tienen el formato correcto

In [13]:
r.validar_nombre(prov, 'Nombre Proveedor')

Existen datos con formato incorrecto
0    Proveedora S.A.
2        Empresa XYZ
3       Servicios AB
4      Carlos Méndez
5      Carlos Méndez
Name: Nombre Proveedor, dtype: object

In [15]:
r.validar_cuit(prov, 'CUIT')

Existen datos con formato incorrecto
19    30135792487
20    30135792487
Name: CUIT, dtype: object

In [12]:
r.validar_categoria(prov)

Existen datos con formato incorrecto
0             SERVIC/OS
1             SERVIC/OS
2           MATER/IALES
3     AGENTE /MPOSITIVO
4             SERVIC/OS
5             SERVIC/OS
6             SERVIC/OS
7             SERVIC/OS
8     AGENTE /MPOSITIVO
9     AGENTE /MPOSITIVO
10          MATER/IALES
11          MATER/IALES
12            SERVIC/OS
13            SERVIC/OS
14    AGENTE /MPOSITIVO
15            SERVIC/OS
16            SERVIC/OS
17            SERVIC/OS
18            SERVIC/OS
19          MATER/IALES
20          MATER/IALES
21    AGENTE /MPOSITIVO
22    AGENTE /MPOSITIVO
23            SERVIC/OS
24            SERVIC/OS
25          MATER/IALES
26          MATER/IALES
27            SERVIC/OS
28            SERVIC/OS
Name: Categoria Proveedor, dtype: object

In [10]:
r.validar_tipo_contribuyente(prov, 'Tipo de Contribuyente')

Existen datos con formato incorrecto
0       RESPONSABLE INSCR/ITO
2       RESPONSABLE INSCR/ITO
3      RESPONSAB/LE INSCRIPTO
6      RESPONSAB/LE INSCRIPTO
7       RESPONSABLE INSCR/ITO
                ...
368           IVA Responsable
369           IVA Responsable
370           IVA Responsable
371           IVA Responsable
372           IVA Responsable
Name: Tipo de Contribuyente, Length: 202, dtype: object
Los tipos de contribuyentes son los siguientes:
 {'IVA Responsable', 'RESPONSABLE INSCR/ITO', 'MONOTRIBUTISTA', 'RESPONSAB/LE INSCRIPTO', 'Responsable Inscripto', 'Monotributista'}

In [6]:
r.validar_contacto(prov)

Existen datos con formato incorrecto
4       Carlos Méndez
10     Fernando Gómez
11     Fernando Gómez
17      Sergio Castro
18      Sergio Castro
27      Laura Sánchez
28      Laura Sánchez
Name: Contacto, dtype: object

In [4]:
r.validar_correo(prov, 'Correo Electrónico')

Todos los nombres de contacto tienen el formato correcto

In [10]:
r.validar_telefono(prov)

Existen datos con formato incorrecto
3     AR4567-8901
23    AR6789-0123
24    AR6789-0123
Name: Teléfono, dtype: object

In [13]:
r.validar_razonsocial(prov)

Existen datos con formato incorrecto o valores incorrectos
{'Sociedad Anónima'}

In [14]:
r.validar_importe(prov)

Todos los datos tienen el formato correcto

In [7]:
r.validar_fecha(prov)

Todas las fechas estan en formato correcto y son validas

In [10]:
r.validar_nrocuenta(prov)

Todos los datos tienen formato correcto

In [11]:
r.validar_ciudad(prov)

Existen ciudades con formato incorrecto
0               Buenos Aires
4               Buenos Aires
5               Buenos Aires
6      San Miguel de Tucumán
7              Mar del Plata
               ...
368              Villa María
369              Villa María
370              Villa María
371              Villa María
372              Villa María
Name: Ciudad, Length: 219, dtype: object

In [12]:
r.validar_pais(prov)

Todos los datos tienen formato correcto y son correctos

## Donantes

In [5]:
don.head()

,Numero,Nombre,Tipo,Contacto,Cargo,Correo Electrónico,Telefono,Observaciones,Razon Social,Tipo de Contribuyente,CUIT,Alta,Baja,Activo,Frecuencia,Fecha_Donación,Importe,Nro de Cuenta
0,D00108,Iniciativa Solidaria,Empresa,Contacto C,-,iniciativasolidaria@mail.com,(+)55 5747-7433,Observación D,SAS,Monotributista,24-91224120-6,2022-10-04,2024-08-20,NO,Bimestral,2022-10-04,281342,404100
1,D00108,Iniciativa Solidaria,Empresa,Contacto C,-,iniciativasolidaria@mail.com,(+)55 5747-7433,Observación D,SAS,Monotributista,24-91224120-6,2022-10-04,2024-08-20,NO,Bimestral,2022-12-04,383818,404100
2,D00108,Iniciativa Solidaria,Empresa,Contacto C,-,iniciativasolidaria@mail.com,(+)55 5747-7433,Observación D,SAS,Monotributista,24-91224120-6,2022-10-04,2024-08-20,NO,Bimestral,2023-02-04,217763,404100
3,D00108,Iniciativa Solidaria,Empresa,Contacto C,-,iniciativasolidaria@mail.com,(+)55 5747-7433,Observación D,SAS,Monotributista,24-91224120-6,2022-10-04,2024-08-20,NO,Bimestral,2023-04-04,424093,404100
4,D00108,Iniciativa Solidaria,Empresa,Contacto C,-,iniciativasolidaria@mail.com,(+)55 5747-7433,Observación D,SAS,Monotributista,24-91224120-6,2022-10-04,2024-08-20,NO,Bimestral,2023-06-04,191399,404100

In [6]:
don.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Numero                 499 non-null    object
 1   Nombre                 499 non-null    object
 2   Tipo                   499 non-null    object
 3   Contacto               499 non-null    object
 4   Cargo                  499 non-null    object
 5   Correo Electrónico     499 non-null    object
 6   Telefono               499 non-null    object
 7   Observaciones          499 non-null    object
 8   Razon Social           494 non-null    object
 9   Tipo de Contribuyente  499 non-null    object
 10  CUIT                   499 non-null    object
 11  Alta                   499 non-null    datetime64[ns]
 12  Baja                   158 non-null    datetime64[ns]
 13  Activo                 499 non-null    object
 14  Frecuencia             499 non-null    object
 15  Fecha_Donación         499 non-null    datetime64[ns]
 16  Importe                499 non-null    int64
 17  Nro de Cuenta          499 non-null    int64
dtypes: datetime64[ns](3), int64(2), object(13)
memory usage: 70.3+ KB

In [ ]:
don.isna().sum()
# existen valores nan en columna 'Baja' y en columna 'Razon Social'

Numero                     0
Nombre                     0
Tipo                       0
Contacto                   0
Cargo                      0
Correo Electrónico         0
Telefono                   0
Observaciones              0
Razon Social               5
Tipo de Contribuyente      0
CUIT                       0
Alta                       0
Baja                     341
Activo                     0
Frecuencia                 0
Fecha_Donación             0
Importe                    0
Nro de Cuenta              0
dtype: int64

In [13]:
for column in don.columns:
    columna = list(set(don[column]))
    print(f'cantidad de valores unicos de {column}: {len(columna)}')
    
print()
print()

for column in don.columns:
    columna = list(set(don[column]))
    print(f'conjunto de valores unicos de {column}: {columna}')

cantidad de valores unicos de Numero: 33
cantidad de valores unicos de Nombre: 33
cantidad de valores unicos de Tipo: 6
cantidad de valores unicos de Contacto: 32
cantidad de valores unicos de Cargo: 1
cantidad de valores unicos de Correo Electrónico: 33
cantidad de valores unicos de Telefono: 27
cantidad de valores unicos de Observaciones: 26
cantidad de valores unicos de Razon Social: 8
cantidad de valores unicos de Tipo de Contribuyente: 4
cantidad de valores unicos de CUIT: 33
cantidad de valores unicos de Alta: 28
cantidad de valores unicos de Baja: 10
cantidad de valores unicos de Activo: 3
cantidad de valores unicos de Frecuencia: 5
cantidad de valores unicos de Fecha_Donación: 391
cantidad de valores unicos de Importe: 498
cantidad de valores unicos de Nro de Cuenta: 3


conjunto de valores unicos de Numero: ['D00132', 'D00125', 'D00121', 'D00127', 'D00124', 'D00128', 'D00129', 'D00136', 'D00120', 'D00109', 'D00130', 'D00133', 'D00111', 'D00116', 'D00117', 'D00113', 'D00108', 'D00123', 'D00135', 'D00115', 'D00138', 'D00141', 'D00114', 'D00112', 'D00126', 'D00142', 'D00131', 'D00140', 'D00137', 'D00139', 'D00110', 'D00134', 'D00122']
conjunto de valores unicos de Nombre: ['Logística Global S.R.L.', 'Energía Sustentable S.A.', 'Apoyo Social Universal', 'Innovatech Solutions', 'Proyecto Gubernamental', 'TechGreen Innovación S.R.L.', 'Futuro Corporativo', 'Soluciones VerdeVida', 'Mercado Popular', 'Innovación Global S.A.', 'Corporación NovaTech', 'Energía Futuro S.A.', 'Merendero Solidario', 'Empresas FuturoBrillante', 'VíaVerde', 'Bebidas S.A', 'Fundación UniCorp', 'Latinoamerica Crece', 'Supermercado Vegano SRL', 'Global Energies S.A.', 'Iniciativa Solidaria', 'Ministerio de Acción Comunitaria', 'EcoTransporte S.A.', 'TecnoAvanzado S.R.L.', 'Innovación Solar S.A.', 'InnovaLogix S.A.', 'Servicios Plus', 'Apoyo Logistico S.A.', 'Universidad del Sur', 'Automoviles Full', 'AgroIndustrias del Sur', 'Horizonte Ecológico', 'El Parque SRL']
conjunto de valores unicos de Tipo: ['Agroindustria', 'Campaña', 'ONG', 'Tecnología', 'Estado', 'Empresa']
conjunto de valores unicos de Contacto: ['Contacto ASEE', 'Contacto ATS', 'Contacto RCO', 'Contacto AHH', 'Contacto GH', 'Contacto VDS', 'Contacto ESD', 'Contacto A', 'Contacto AET', 'Contacto IT', 'Contacto VG', 'Contacto GHY', '-', 'Contacto AT', 'Contacto AWW', 'Contacto E', 'Contacto ZVS', 'Contacto DSF', 'Contacto C', 'Contacto AK', 'Contacto B', 'Contacto ATEC', 'Contacto AIS', 'Contacto V', 'Contacto ALG', 'Contacto AEF', 'Contacto ASD', 'Contacto AAS', 'Contacto ATG', 'Contacto VS', 'Contacto DDD', 'Contacto AES']
conjunto de valores unicos de Cargo: ['-']
conjunto de valores unicos de Correo Electrónico: ['carla.fernandez@innovalogix.com', 'solidario@mail.com', 'laura.perez@futurobrillante.com', 'latinoamerica_crece@example.com', 'bebidassa@mail.com', 'innovatechsolutions@mail.com', 'juan.rodriguez@horizonteecologico.com', 'apoyologisticosa@mail.com', 'maria.lopez@energiasfuturo.com', 'luis.gonzalez@ecoplus.com', 'afull@mail.com', 'mercadopopular@example.com', 'laura.garcia@agroindustrias.com', 'apoyosocialuniversal@example.com', 'parque@mail.com', 'supermercadovegano@mail.com', 'julia.martinez@innovacionsolar.com', 'maria.lopez@energiasustentable.com', 'proyectogubernamental@mail.com', 'roberto.sanchez@tecnoavanzado.com', 'global@logisticaglobal.com', 'carlos.martinez@innovacionglobal.com', 'eco@viaverde.com', 'gerencia@novatech.com', 'futurocorporativo@mail.com', 'iniciativasolidaria@mail.com', 'ana.solis@verdevida.com', 'universidadds@mail.com', 'marta.gonzalez@unicorp.org', 'globalenergiess.a.@example.net', 'fernando.lopez@ecotransporte.com', 'accióncomunitaria@mail.com', 'tech@techgreeninnovacion.com']
conjunto de valores unicos de Telefono: ['(+)55 21 9876 5432', '(+)56 9 7654 3210', '(+)598 5550-9219', '(+)57 300 123 4567', '(+)57 301 234 5678', '(+)591 5550-9224', '(+)55 5747-7433', '(+)54 9 11 8765 4321', '(+)54 9 11 8765 5588', '(+)52 55 1234 5678', '(+)58 5550-9222', '(+)54 5263-2378', '(+)55 5550-9219', '(595) 5030-0105', '(+)57 300 876 5432', '(+)595 5380-3426', '(+)598 5503-7127', '(+)56 9 8765 4321', '(+)598 5550-9221', '(+)51 5550-9220', '(+)56 5550-9223', '(+)55 301 234 5678', '(+)591 5550-9225', '(+)52 55 1234 4324', '(+)54 9 11 6543 2109', '(+)54 9 11 4567 8901', '(+)54 9 11 1234 5678']
conjunto de valores unicos de Observaciones: ['Observación O', 'Observación DED', 'Observación TT', 'Observación DRF', 'Observación IIAA', 'Observación OA', 'Observación DAS', 'Observación D', '-', 'Observación DG', 'Observación OO', 'Observación PP', 'Observación MM', 'Observación QQ', 'Observación A', 'Observación NN', 'Observación II', 'Observación 175', 'Observación SSA', 'Observación', 'Observación IIA', 'Observación DD', 'Observación SS', 'Observación GG', 'Observación DE', 'Observación C']
conjunto de valores unicos de Razon Social: ['S.A', 'ONG', '-', 'GOB', 'SAS', nan, 'SRL', 'SA']
conjunto de valores unicos de Tipo de Contribuyente: ['Monotributista', 'Exento', 'Responsable Inscripto', 'IVA Responsable Inscripto']
conjunto de valores unicos de CUIT: ['29-75196406-1', '20-12345678-9', '24-72582356-8', '30-99887766-7', '20-22334455-6', '30-33675566-8', '24-78912356-7', '29-38793456-3', '30-67891234-7', '25-36901514-8', '33-11223344-5', '27-75193456-1', '34-01712356-6', '30-45765232-2', '34-38765566-0', '20-98765432-1', '30-34567890-2', '24-91224120-6', '30-98765432-1', '33-12345678-9', '34-01712356-5', '24-34193456-2', '33-56789012-4', '27-23456789-1', '23-45678901-3', '29-01265476-14', '25-67890123-0', '27-65432109-8', '21-38712356-4', '27-23783266-6', '24-56588769-6', '30-33445566-7', '27-78434109-9']
conjunto de valores unicos de Alta: [Timestamp('2022-06-05 00:00:00'), Timestamp('2020-01-21 00:00:00'), Timestamp('2024-01-01 00:00:00'), Timestamp('2022-10-04 00:00:00'), Timestamp('2020-01-24 00:00:00'), Timestamp('2024-04-01 00:00:00'), Timestamp('2018-01-26 00:00:00'), Timestamp('2024-02-03 00:00:00'), Timestamp('2024-02-02 00:00:00'), Timestamp('2024-01-04 00:00:00'), Timestamp('2018-12-23 00:00:00'), Timestamp('2022-04-01 00:00:00'), Timestamp('2020-12-22 00:00:00'), Timestamp('2019-08-13 00:00:00'), Timestamp('2021-01-02 00:00:00'), Timestamp('2019-08-09 00:00:00'), Timestamp('2023-01-02 00:00:00'), Timestamp('2020-01-01 00:00:00'), Timestamp('2022-01-21 00:00:00'), Timestamp('2019-12-02 00:00:00'), Timestamp('2018-01-01 00:00:00'), Timestamp('2024-02-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), Timestamp('2023-01-01 00:00:00'), Timestamp('2022-01-01 00:00:00'), Timestamp('2023-01-25 00:00:00'), Timestamp('2020-05-02 00:00:00'), Timestamp('2024-02-05 00:00:00')]
conjunto de valores unicos de Baja: [NaT, Timestamp('2023-12-31 00:00:00'), Timestamp('2023-12-01 00:00:00'), Timestamp('2024-06-01 00:00:00'), Timestamp('2024-07-01 00:00:00'), Timestamp('2023-01-03 00:00:00'), Timestamp('2024-05-30 00:00:00'), Timestamp('2024-08-20 00:00:00'), Timestamp('2021-12-25 00:00:00'), Timestamp('2024-02-02 00:00:00')]
conjunto de valores unicos de Activo: ['SI', 'Si', 'NO']
conjunto de valores unicos de Frecuencia: ['Bimestral', 'Anual', 'Semestral', 'Trimestral', 'Mensual']

In [ ]:
# Campo 'Cargo' no proporciona informacion relevante, por lo que va a ser eliminado
#

In [7]:
r.validar_nro(don, 'Numero')

Todos los datos tienen el formato correcto

In [12]:
r.validar_nombre(don, 'Nombre')

Existen datos con formato incorrecto
43     Apoyo Logistico S.A.
44     Apoyo Logistico S.A.
45     Apoyo Logistico S.A.
46     Apoyo Logistico S.A.
47     Apoyo Logistico S.A.
               ...
494             Bebidas S.A
495             Bebidas S.A
496             Bebidas S.A
497             Bebidas S.A
498             Bebidas S.A
Name: Nombre, Length: 249, dtype: object

In [8]:
r.validar_contacto(don)

Existen datos con formato incorrecto
0      Contacto C
1      Contacto C
2      Contacto C
3      Contacto C
4      Contacto C
          ...
270             -
271             -
272             -
273             -
274             -
Name: Contacto, Length: 158, dtype: object

In [16]:
r.validar_cuit(don, 'CUIT')

Todos los CUIT tienen el formato correcto

In [6]:
r.validar_correo(don, 'Correo Electrónico')

Todos los nombres de contacto tienen el formato correcto

In [8]:
r.validar_tipo_contribuyente(don, 'Tipo de Contribuyente')

Existen datos con formato incorrecto
43     Responsable Inscripto
44     Responsable Inscripto
45     Responsable Inscripto
46     Responsable Inscripto
47     Responsable Inscripto
               ...
494    Responsable Inscripto
495    Responsable Inscripto
496    Responsable Inscripto
497    Responsable Inscripto
498    Responsable Inscripto
Name: Tipo de Contribuyente, Length: 209, dtype: object
Los tipos de contribuyentes son los siguientes:
 {'Monotributista', 'IVA Responsable Inscripto', 'Responsable Inscripto', 'Exento'}