In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

In [2]:
prov = pd.read_excel("../data/raw/proveedores.xlsx")

In [4]:
don = pd.read_excel("../data/raw/donantes.xlsx")

In [6]:
detalles = pd.read_csv("../data/raw/Detalles_Ing_Egres.txt", sep= "\t", encoding= "latin1")

In [19]:
# contador = 0
# with open("../data/raw/Detalles_Ing_Egres.txt", encoding= "latin1") as d:
#     next(d)
#     for i in d:
#         contador += 1
#         print(i.strip()) # con esto eliminamos el salto de linea al final de cada linea para que no se saltee 2 lineas por iteracion.
#     print(contador)

In [ ]:
print(type(detalles))

<class '_io.TextIOWrapper'>

In [ ]:
det = pd.DataFrame(detalles) # transformamos el objeto '_io.TextIOWrapper' en un objeto DataFrame

In [16]:
print(type(det))

<class 'pandas.core.frame.DataFrame'>

In [17]:
det.head(3)

,Nro de Cuenta,Nombre de Cuenta,Tipo de Cuenta,Descripción
0,102201,Gastos Pagados por adelantado,Otros activos corto plazo,NaN
1,202001,Préstamos,Otros pasivos corto plazo,NaN
2,300010,Apertura Balance Inicial,Patrimonio Neto,NaN

In [18]:
det.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nro de Cuenta     44 non-null     int64
 1   Nombre de Cuenta  44 non-null     object
 2   Tipo de Cuenta    44 non-null     object
 3   Descripción       35 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.5+ KB

Observaciones:

* La columnas "Nro de Cuenta" tiene tipo de dato "int64" cuando son etiquetas de asignacion. Se debe cambiar el tipo de dato de la columna a "object"
* Se deben rellenar los valores nulos presentes (en este caso, solo en la columna "Descripcion"), con un valor estandar (en este caso con la etiqueta "SD")
* Debemos Buscar las filas duplicadas

In [3]:
prov.head(10)

,Número Proveedor,Nombre Proveedor,CUIT,Categor/a Proveedor,Tipo de Contribuyente,Observaciones,Contacto,Correo Electrónico,Teléfono,Razón Social,Importe,Fecha,Nro_Cuenta,Ciudad,Pais
0,P00001,Proveedora S.A.,30-12345678-9,SERVIC/OS,RESPONSABLE INSCR/ITO,-,Juan Pérez,juan.perez@empresa.com,1234-5678,S.A.,171488,2024-03-18,501400,Buenos Aires,Argentina
1,P00002,Pedro González,30-87654321-0,SERVIC/OS,MONOTRIBUTISTA,-,Pedro González,pedro.gonzalez@correo.zom,2345-6789,S.R.L.,288255,2024-02-08,503100,Cordoba,Argentina
2,P00003,Empresa XYZ,30-13579246-3,MATER/IALES,RESPONSABLE INSCR/ITO,-,María López,maria.lopez@empresa.com,3456-7890,S.A.,195975,2024-01-18,506100,Rosario,Argentina
3,P00004,Servicios AB,30-24681357-2,AGENTE /MPOSITIVO,RESPONSAB/LE INSCRIPTO,-,Laura Ruiz,laura.ruiz@correo.zom,AR4567-8901,S.R.L.,158607,2024-03-09,509100,Mendoza,Argentina
4,P00005,Carlos Méndez,30-12345678-9,SERVIC/OS,MONOTRIBUTISTA,-,Carlos Méndez,carlos.mendez@correo.com,5678-9012,S.A.,238101,2024-03-28,516000,Buenos Aires,Argentina
5,P00005,Carlos Méndez,30-12345678-9,SERVIC/OS,MONOTRIBUTISTA,-,Carlos Méndez,carlos.mendez@correo.com,5678-9012,S.A.,288617,2024-04-14,516000,Buenos Aires,Argentina
6,P00006,Grupo Alfa,30-97531246-1,SERVIC/OS,RESPONSAB/LE INSCRIPTO,-,Alberto Fernández,alberto.fernandez@empresa.zom,6789-0123,S.R.L.,251833,2024-01-09,501400,San Miguel de Tucumán,Argentina
7,P00007,Ana Sánchez,30-19283746-4,SERVIC/OS,RESPONSABLE INSCR/ITO,-,Ana Sánchez,ana.sanchez@correo.com,7890-1234,S.A.,235688,2024-05-06,503100,Mar del Plata,Argentina
8,P00008,Compañía Beta,30-74859632-7,AGENTE /MPOSITIVO,MONOTRIBUTISTA,-,Laura Martínez,laura.martinez@empresa.zom,8901-2345,S.R.L.,110198,2024-06-12,506100,La Plata,Argentina
9,P00008,Compañía Beta,30-74859632-7,AGENTE /MPOSITIVO,MONOTRIBUTISTA,-,Laura Martínez,laura.martinez@empresa.zom,8901-2345,S.R.L.,269252,2024-01-21,506100,La Plata,Argentina

In [22]:
prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Número Proveedor       373 non-null    object
 1   Nombre Proveedor       373 non-null    object
 2   CUIT                   373 non-null    object
 3   Categor/a Proveedor    373 non-null    object
 4   Tipo de Contribuyente  373 non-null    object
 5   Observaciones          373 non-null    object
 6   Contacto               373 non-null    object
 7   Correo Electrónico     373 non-null    object
 8   Teléfono               373 non-null    object
 9   Razón Social           373 non-null    object
 10  Importe                373 non-null    int64
 11  Fecha                  373 non-null    datetime64[ns]
 12  Nro_Cuenta             373 non-null    int64
 13  Ciudad                 373 non-null    object
 14  Pais                   373 non-null    object
dtypes: datetime64[ns](1), int64(2), object(12)
memory usage: 43.8+ KB

Observaciones:

* La columna Nro_Cuenta necesita un cambio de formato de tipo de dato de int64 a object para que no haya conflicto con la columna homonima en la tabla detalles y se pueda utilizar como conexion con la tabla detalles.
* Debemos constatar que los valores de la columna numero de proveedor sea a causa de nuevos registros y no de registros duplicados o errores de ingreso de datos, tambien se debe constatar la homogeneidad de formato de valores de numero de proveedores.
* Columnas Catego/a Proveedor y Tipo de Contribuyente deben ser formateadas ya que existen errores de tipografia en relacion a la presencia originalmente a tildes en los valores (incluso en laa etiqueta de columna), se debe homogeneizar los valores y tambien la tipografia (mayusculas, formato, etc).
* En la columna CUIT revisar que todos los valores tengan el formato estandar de numero de cuit (con guion luego de los dos primeros digitos y con un guion antes del ultimo digito), entre otras caracteristicas
* tratar los valores Nan o celdas vacias.

In [5]:
don.head(10)

,Numero,Nombre,Tipo,Contacto,Cargo,Correo Electrónico,Telefono,Observaciones,Razon Social,Tipo de Contribuyente,CUIT,Alta,Baja,Activo,Frecuencia,Fecha_Donación,Importe,Nro de Cuenta
0,D00108,Iniciativa Solidaria,Empresa,Contacto C,-,iniciativasolidaria@mail.com,(+)55 5747-7433,Observación D,SAS,Monotributista,24-91224120-6,2022-10-04,2024-08-20,NO,Bimestral,2022-10-04,281342,404100
1,D00108,Iniciativa Solidaria,Empresa,Contacto C,-,iniciativasolidaria@mail.com,(+)55 5747-7433,Observación D,SAS,Monotributista,24-91224120-6,2022-10-04,2024-08-20,NO,Bimestral,2022-12-04,383818,404100
2,D00108,Iniciativa Solidaria,Empresa,Contacto C,-,iniciativasolidaria@mail.com,(+)55 5747-7433,Observación D,SAS,Monotributista,24-91224120-6,2022-10-04,2024-08-20,NO,Bimestral,2023-02-04,217763,404100
3,D00108,Iniciativa Solidaria,Empresa,Contacto C,-,iniciativasolidaria@mail.com,(+)55 5747-7433,Observación D,SAS,Monotributista,24-91224120-6,2022-10-04,2024-08-20,NO,Bimestral,2023-04-04,424093,404100
4,D00108,Iniciativa Solidaria,Empresa,Contacto C,-,iniciativasolidaria@mail.com,(+)55 5747-7433,Observación D,SAS,Monotributista,24-91224120-6,2022-10-04,2024-08-20,NO,Bimestral,2023-06-04,191399,404100
5,D00108,Iniciativa Solidaria,Empresa,Contacto C,-,iniciativasolidaria@mail.com,(+)55 5747-7433,Observación D,SAS,Monotributista,24-91224120-6,2022-10-04,2024-08-20,NO,Bimestral,2023-08-04,390950,404100
6,D00108,Iniciativa Solidaria,Empresa,Contacto C,-,iniciativasolidaria@mail.com,(+)55 5747-7433,Observación D,SAS,Monotributista,24-91224120-6,2022-10-04,2024-08-20,NO,Bimestral,2023-10-04,797809,404100
7,D00108,Iniciativa Solidaria,Empresa,Contacto C,-,iniciativasolidaria@mail.com,(+)55 5747-7433,Observación D,SAS,Monotributista,24-91224120-6,2022-10-04,2024-08-20,NO,Bimestral,2023-12-04,596040,404100
8,D00108,Iniciativa Solidaria,Empresa,Contacto C,-,iniciativasolidaria@mail.com,(+)55 5747-7433,Observación D,SAS,Monotributista,24-91224120-6,2022-10-04,2024-08-20,NO,Bimestral,2024-02-04,683505,404100
9,D00108,Iniciativa Solidaria,Empresa,Contacto C,-,iniciativasolidaria@mail.com,(+)55 5747-7433,Observación D,SAS,Monotributista,24-91224120-6,2022-10-04,2024-08-20,NO,Bimestral,2024-04-04,627181,404100

In [6]:
don.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Numero                 499 non-null    object
 1   Nombre                 499 non-null    object
 2   Tipo                   499 non-null    object
 3   Contacto               499 non-null    object
 4   Cargo                  499 non-null    object
 5   Correo Electrónico     499 non-null    object
 6   Telefono               499 non-null    object
 7   Observaciones          499 non-null    object
 8   Razon Social           494 non-null    object
 9   Tipo de Contribuyente  499 non-null    object
 10  CUIT                   499 non-null    object
 11  Alta                   499 non-null    datetime64[ns]
 12  Baja                   158 non-null    datetime64[ns]
 13  Activo                 499 non-null    object
 14  Frecuencia             499 non-null    object
 15  Fecha_Donación         499 non-null    datetime64[ns]
 16  Importe                499 non-null    int64
 17  Nro de Cuenta          499 non-null    int64
dtypes: datetime64[ns](3), int64(2), object(13)
memory usage: 70.3+ KB

Observaciones:

* La columna Nro_Cuenta necesita un cambio de formato de tipo de dato de int64 a object para que no haya conflicto con la columna homonima en la tabla detalles y se pueda utilizar como conexion con la tabla detalles.
* Debemos constatar que los valores de la columna numero sea a causa de nuevos registros y no de registros duplicados o errores de ingreso de datos, tambien se debe constatar la homogeneidad de formato de valores de numero (de donantes).
* las columnas razon social y tipo de contribuyente deben tener el mismo formato y nomenclatura que sus homonimas en la tabla proveedores.
* tratar los valores Nan o celdas vacias en la columna Baja
* Revisar los valores de la columna Teléfono para que su nomenclatura sea homogenea